<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Maintenance Page</title>
	</head>
	<body>
		{{> header}}
		<p>{{screamIt "Maintenance going on"}}</p>
		<p>Some text here</p>

		{{> footer}}
	</body>
</html>
