<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<p>project page text would go here</p>

		{{> footer}}
	</body>
</html>
